<section id="about">
    <div class="outer-container">
        <div class="text-justify">
            <div class="item box1">
                <div class="img-container">
                    <img src="assets/images/cartoon-man.jpg" width="100%" />
                    <img src="assets/images/cartoon-man.jpg" width="100%" class="img-overlay" />
                </div>
                <p>
                    <b>Nom :</b> Ioannis MASTORIDIS<br />
                    <b>Ville actuelle :</b> Lyon / Genève<br />
                    <b>Hobbies :</b> Voyages, cuisine, jeux de société, web-design, jeux-vidéo
                </p>
            </div>

            <div class="item box2">
                <div class="img-container box3">
                    <img src="assets/images/cartoon-man.jpg" width="100%" />
                    <img src="assets/images/cartoon-man.jpg" width="100%" class="img-overlay" />
                </div>

                <h2>À propos de moi</h2>

                <div class="about-list box3">
                    <b>Nom :</b> Ioannis MASTORIDIS<br />
                    <b>Ville actuelle :</b> Lyon / Genève<br />
                    <b>Hobbies :</b> Voyages, cuisine, jeux de société, web-design, jeux-vidéo
                </div>

                <p>
                    Je suis à la
                    recherche de nouvelles opportunités et de nouveaux projets. Mon
                    expérience au sein du Crédit Agricole Chèques m’a permis de renforcer les
                    connaissances que j'ai acquises lors de ma formation professionnelle,
                    et d'étoffer mon panel de compétences.
                </p>
                <p>
                    Je travaile principalement sur les langages Java, Symfony, PHP, Angular, AngularJS,
                    JavaScript/TypeScript,
                    PostGreSQL et MySQL. Je profite également de mon temps libre pour continuer de
                    m'approprier de nouvelles technologies et d'enrichir mes
                    connaissances.
                </p>
                <p>
                    Autonome de nature, je suis capable de travailler seul comme en
                    groupe, sachant m'adapter facilement à un environnement que je ne
                    connais pas. Je sais faire preuve de force de proposition lorsque
                    l’on m’en donne la liberté, cherchant constamment à améliorer et
                    optimiser les projets au maximum pour satisfaire au mieux la demande
                    du client.
                </p>
                <p>
                    Passionné du développement, j'aime expérimenter, découvrir et
                    apprendre des nouvelles technologies.
                </p>
                <p>N’hésitez pas à me contacter pour toute question.</p>
            </div>
        </div>

        <div class="box" id="buttons-container">
            <a href="#contact"><button class="item" id="cont">Me contacter</button></a>
            <button class="item" id="cv" type="submit" onclick="window.open('../assets/CV_Ioannis_MASTORIDIS.pdf')">
                Télécharger mon CV
            </button>
        </div>
    </div>
</section>