<!-- COMTPETENCES-->
<section id="skills" class="grey fadeSkills">
    <div class="outer-container">
        <h2 class="section-title">Compétences</h2>
        <div class="under-title"></div>

        <!-- FRONTEND -->
        <div class="skill front-end center hidden" id="front-end">
            <div class="c-item content">
                <h4 class="front">Front-end</h4>

                <div class="item desc">Création d'applications web</div>

                <div class="space-between">
                    <div class="item el">
                        <div class="space-between">
                            <div class="item names ">
                                <div>HTML5</div>
                                <div>CSS</div>
                                <div>JavaScript</div>
                                <div>jQuery</div>
                                <div>Ajax</div>
                            </div>
                            <div class="item stars">
                                <!-- HTML -->
                                <div> <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="fas fa-star"></i><i class="fas fa-star"></i>
                                </div>
                                <!-- CSS -->
                                <div> <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="fas fa-star"></i><i class="fas fa-star"></i>
                                </div>
                                <!-- JavaScript -->
                                <div> <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                                </div>
                                <!-- jQuery -->
                                <div> <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                                </div>
                                <!-- Ajax  -->
                                <div>
                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="far fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item el">
                        <div class="space-between">
                            <div class="item names">
                                <div>Angular</div>
                                <div>AngularJS</div>
                                <div>React</div>
                                <div>Bootstrap</div>

                            </div>
                            <div class="item stars">


                                <!-- Angular -->
                                <div>
                                    <i class="fas fa-star"></i><i class="fas fa-star"><i class="fas fa-star"></i></i><i
                                        class="fas fa-star-half-alt"></i>
                                </div>
                                <!--  AngularJS-->
                                <div>
                                    <i class="fas fa-star"></i><i class="fas fa-star"><i class="fas fa-star"></i></i><i
                                        class="fas fa-star-half-alt"></i>
                                </div>
                                <!-- React-->
                                <div>
                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="far fa-star"></i>
                                </div>
                                <!-- Bootstrap -->
                                <div>
                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="fas fa-star"></i>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="c-item icon front"><i class="fas fa-code"></i></div>
        </div>

        <!-- BACKEND -->
        <div class="skill center back-end hidden" id="back-end">
            <div class="c-item icon back"><i class="fas fa-database"></i></div>

            <div class="c-item content">
                <h4 class="back">Back-end</h4>

                <div class="item desc">
                    Développement de sites web et applications, création et gestion de
                    bases de données, mise en production.
                </div>

                <div class="space-between">
                    <div class="item el">
                        <div class="space-between">
                            <div class="item names">
                                <div>Symfony</div>
                                <div>Java</div>
                                <div>Spring Boot</div>
                                <div>PHP</div>
                                <div>CakePHP</div>
                            </div>
                            <div class="item stars">
                                <!-- Symfony -->
                                <div>
                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="fas fa-star-half-alt">
                                    </i>
                                </div>
                                <!-- Java -->
                                <div> <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="fas fa-star"></i><i class="far fa-star"></i>
                                </div>
                                <!-- Spring Boot -->
                                <div> <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="fas fa-star"></i><i class="far fa-star"></i>
                                </div>
                                <!-- PHP -->
                                <div>
                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="fas fa-star-half-alt"></i>
                                </div>
                                <!-- CakePHP -->
                                <div>
                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="fas fa-star-half-alt"> </i>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="item el">
                        <div class="space-between">
                            <div class="item names">
                                <div>Node.js</div>
                                <div>API REST</div>
                                <div>MySQL</div>
                                <div> MySQL Workbench</div>
                                <div>PostgreSQL</div>
                            </div>
                            <div class="item stars">
                                <!-- Node.js -->
                                <div>
                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="far fa-star"></i>
                                </div>
                                <!-- API REST -->
                                <div>
                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="fas fa-star-half-alt"> </i>
                                </div>
                                <!-- MySQL -->
                                <div>
                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="fas fa-star-half-alt"> </i>
                                </div>
                                <!-- MySQL Workbench -->
                                <div>
                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="fas fa-star-half-alt"> </i>
                                </div>
                                <!-- Postgreslq -->
                                <div>
                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="far fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- CMS -->
        <div class="skill center cms hidden" id="cms">
            <div class="c-item content">
                <h4 class="cms">CMS</h4>

                <div class="item desc">
                    Création et édition de thèmes et plugins. Mon expérience est
                    principalement portée sur WordPress. J'ai l'habitude de travailler
                    avec les plugins Elementor et AIOSEO.
                </div>

                <div class="space-between">
                    <div class="item el">
                        <div class="space-between">
                            <div class="item names">
                                <div>WordPress</div>
                                <div>SEO</div>
                            </div>
                            <div class="item stars">
                                <!-- WordPress -->
                                <div>
                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="fas fa-star-half-alt"></i>
                                </div>
                                <!-- SEO -->
                                <div>
                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="fas fa-star-half-alt"></i><i class="far fa-star"></i>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="item el">
                        <div class="space-between">
                            <div class="item names">Elementor</div>
                            <div class="item stars">
                                <!-- Elementor -->
                                <div>
                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="fas fa-star-half-alt"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="c-item icon cms"><i class="fas fa-user-edit"></i></div>
        </div>

        <!-- WEB DESIGN -->
        <div class="skill center web-design hidden" id="web-design">
            <div class="c-item icon design"><i class="fas fa-pencil-ruler"></i></div>
            <div class="c-item content">
                <h4 class="design">Web design</h4>
                <div class="item desc">
                    Création de maquettes sur Figma et HTML, ainsi que de prototypes
                    fonctionnels. Conception centrée utilisateur selon les règles d'UX
                    lors de la création d'une interface utilisateur.
                </div>
                <div class="space-between">
                    <div class="item el">
                        <div class="space-between">
                            <div class="item names">
                                Figma<br />
                                Photoshop<br />
                            </div>
                            <div class="item stars">
                                <!-- Figma -->
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                    class="far fa-star"></i><br />
                                <!-- Photoshop -->
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                    class="fas fa-star-half-alt"></i><i class="far fa-star"></i><br />
                            </div>
                        </div>
                    </div>
                    <div class="item el">
                        <div class="space-between">
                            <div class="item names">
                                Maquettage<br />
                                Prototypage
                            </div>
                            <div class="item stars">
                                <!-- Maquettage -->
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                    class="far fa-star"></i><br />
                                <!-- Prototypage -->
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                    class="far fa-star"></i><br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ENVIRONNEMENT DE TRAVAIL -->
        <div class="skill center environnement hidden" id="environnement">
            <div class="c-item content">
                <h4 class="env">Environnement de travail</h4>

                <div class="item desc end">
                    <i class="fas fa-desktop"></i>
                    <b>Systèmes d'exploitation :</b> Windows 10, Ubuntu <br />
                    <i class="fas fa-terminal"></i> <b>Workflow :</b> Git, Docker, WAMP,
                    Postman, Slack, Gulp, CLI, NPM, Leantime, FileZilla <br />
                    <i class="fas fa-code"></i> <b>IDE :</b> Visual Studio Code, IntelliJ IDEA<br />
                    <i class="fas fa-pen-alt"></i> <b>Autres compétences :</b> Maîtrise de
                    l'anglais et du grec, traduction anglais/français<br />
                    <i class="fas fa-user-tie"></i> <b>Savoir-être :</b> Capacité
                    d'adaptation, travail en équipe, organisation, rigueur, force de
                    proposition
                </div>
            </div>

            <div class="c-item icon env"><i class="fas fa-mug-hot"></i></div>
        </div>
    </div>
</section>