<section id="contact">
    <div class="outer-container">
        <h2 class="section-title">Contactez-moi !</h2>

        <div class="container w-80">
            <form ng-submit="$ctrl.sendEmail()" class="d-flex flex-column text-center align-center">
                <input type="text" ng-model="$ctrl.formData.from_name" placeholder="Nom" required>
                <input type="email" ng-model="$ctrl.formData.reply_to" placeholder="Email" required>
                <textarea ng-model="$ctrl.formData.message" placeholder="Votre message" rows="5"></textarea>

                <button type="submit" ng-disabled="$ctrl.isSending" class="contact_btn w-30">
                    {{ $ctrl.isSending ? 'Envoi en cours...' : 'Envoyer' }}
                </button>
                <div class="status_message"> {{$ctrl.statusMessage}}</div>

            </form>
        </div>

        <div class="contact-subtitle">
            Actuellements à la recherche d'un nouvel emploi, je suis intéressé par les
            postes de :<br />
            <div class="jobs">
                <b>Développeur full-stack • Développeur front-end • Développeur
                    back-end</b>
            </div>
        </div>
    </div>
</section>