<section id="formation" class="fomation_section">
    <div class="outer-container">
        <h2 class="section-title">Diplômes et formations</h2>

        <div id="timeline">

            <!-- 2025 -->
            <div class="event school work" id="nine">
                <div class="left"> 2025 </div>
                <div class="right">
                    <div class="content">
                        <!-- Head First Java-->
                        <div>
                            <h3>
                                <i class="fas fa-briefcase formation_title"></i> Head First Java - Bert Bates and Kathy
                                Sierra
                            </h3>
                            <div class="place"></div>
                            <ul class="formation_ul">
                                <li>Formation Java</li>
                                <li>Programmation orientée objet</li>
                                <li>Héritage, encapsulation, polymorphisme, exceptions, interfaces, collections</li>
                                <li>Tests unitaires</li>
                            </ul>
                        </div>

                        <!-- The Cloud Resume Challenge-->
                        <div>
                            <h3>
                                <i class="fas fa-briefcase formation_title"></i> DevOps - The Cloud Resume Challenge -
                                AWS
                            </h3>
                            <div class="place">
                                En ligne - Mai 2025 - <a href="https://cloudresumechallenge.dev/docs/the-challenge/aws/"
                                    target="_blank">CRC</a>
                            </div>
                            <ul class="formation_ul">
                                <li>Formation DevOps</li>
                                <li>Apprentissage de services AWS clés</li>
                                <li>Maîtrise des Pratiques DevOps et CI/CD</li>
                                <li>Utilisation de l'Infrastructure as Code (IaC)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 2024 -->
            <div class="event exp work" id="eight">
                <div class="left"> 2024 </div>
                <div class="right">
                    <div class="content">
                        <!-- ML-->
                        <div>
                            <h3>
                                <i class="fas fa-briefcase formation_title"></i> Machine learning, méthodes et solutions
                            </h3>
                            <div class="place">
                                En présentiel - Juin 2024 - <a
                                    href="https://www.orsys.fr/formation-machine-learning-methodes-et-solutions.html"
                                    target="_blank">Orsys</a>
                            </div>
                            <ul class="formation_ul">
                                <li>Formation sur le Machine Learning</li>
                            </ul>
                        </div>
                        <!--  SECA@PP-->
                        <div>
                            <h3>
                                <i class="fas fa-briefcase formation_title"></i> Formation SECA@PP
                            </h3>
                            <div class="place">
                                En présentiel - Fevrier 2024
                            </div>
                            <ul class="formation_ul">
                                <li>Formation interne du Crédit Agricole sur la cybersécurité</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 2023 -->
            <div class="event school work" id="seven">
                <div class="left">2023 </div>
                <div class="right">
                    <div class="content">
                        <!-- ISC2-->
                        <div>
                            <h3>
                                <i class="fas fa-briefcase formation_title"></i> (ISC)² Certified in Cybersecurity
                            </h3>
                            <div class="place">
                                En ligne - Juillet 2023 - <a href="https://www.isc2.org/certifications/cc"
                                    target="_blank">(ISC)²</a>
                            </div>
                            <ul class="formation_ul">
                                <li>Cours et examen certifiant (ISO/IEC Standard 17024)</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <!-- 2020 -->
            <div class="event exp work" id="six">
                <div class="left">2020 </div>
                <div class="right">
                    <div class="content">
                        <div>
                            <h3><i class="fas fa-users"></i> Développeur Web</h3>
                            <div class="date">NOVEMBRE 2019 à JUILLET 2020</div>
                            <div class="place">
                                En ligne - Novembre 2019 à juillet 2020 - <a
                                    href="https://openclassrooms.com/fr/paths/185-developpeur-web"
                                    target="_blank">OpenClassRooms</a>
                            </div>
                            <ul>
                                <li>HTML, CSS3, JavaScript, MySQL, NodeJS</li>
                                <li>
                                    Découper, assembler et intégrer tous les éléments d’une maquette
                                    graphique en HTML5 et CSS
                                </li>
                                <li>Animer les pages web avec CSS3</li>
                                <li>Appliquer les standards du web et les normes en vigueur</li>
                                <li>
                                    Faire réagir la page web en fonction des actions de
                                    l’utilisateur en JavaScript
                                </li>
                                <li>
                                    Se connecter à un service web pour exploiter des données tierces
                                    (API)
                                </li>
                                <li>
                                    Concevoir un site maintenable grâce à la gestion des erreurs et
                                    exceptions
                                </li>
                                <li>Créer, gérer et afficher le contenu d’une base de données</li>
                            </ul>
                        </div>
                        <!-- MySQL-->
                        <div>
                            <h3>
                                <i class="fas fa-map-signs formation_title"></i>MySQL for Developers
                            </h3>
                            <div class="place">
                                En ligne - Septembre 2020 - <a
                                    href="https://planetscale.com/learn/courses/mysql-for-developers"
                                    target="_blank">MySQL for
                                    Developers</a>
                            </div>
                            <ul class="formation_ul">
                                <li>
                                    Formation MySQL
                                </li>
                            </ul>
                        </div>
                        <!-- CakePHP-->
                        <div>
                            <h3>
                                <i class="fas fa-briefcase formation_title"></i> CakePHP CookBook
                            </h3>
                            <div class="place">
                                En ligne - Septembre 2020 - <a href="https://book.cakephp.org"
                                    target="_blank">CakePHP</a>
                            </div>
                            <ul class="formation_ul">
                                <li>Tutoriel et projet CakePHP</li>
                            </ul>
                        </div>
                        <!-- Gatsby et Leaflet-->
                        <div>
                            <h3>
                                <i class="fas fa-map-signs formation_title"></i>Gatsby et Leaflet
                            </h3>
                            <div class="place">
                                En ligne- Octobre 2020 - <a
                                    href="https://www.gatsbyjs.com/plugins/gatsby-plugin-react-leaflet/"
                                    target="_blank">Gatsby et
                                    Leaflet</a>
                            </div>
                            <ul class="formation_ul">
                                <li>
                                    Création d'un tableau de bord rescencant des données concernant
                                    la COVID-19
                                </li>
                            </ul>
                        </div>
                        <!-- Kaboom.js-->
                        <div>
                            <h3><i class="fas fa-gamepad formation_title"></i> Kaboom.js</h3>
                            <div class="place">
                                En ligne- Novembre 2020 - <a
                                    href="https://www.freecodecamp.org/news/how-to-build-mario-zelda-and-space-invaders-with-kaboom-js/"
                                    target="_blank">Tutoriel de freeCodeCamp</a>
                            </div>
                            <ul class="formation_ul">
                                <li>Création de jeux 2D avec le framework Kaboom.js</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 2019 -->
            <div class="event school four hidden" id="four">
                <div class="left">2019 </div>
                <div class="right">
                    <div class="content">
                        <h3>
                            <i class="fas fa-graduation-cap"></i> Responsive Web Design -
                            Basic JavaScript
                        </h3>
                        <div class="date">SEPTEMBRE 2019 à DECEMBRE 2019</div>
                        <div class="place">
                            <a href="https://www.freecodecamp.org/learn/responsive-web-design/"
                                target="_blank">Freecodecamp.org</a>,
                            en ligne.
                            <a href="https://www.freecodecamp.org/certification/imast/responsive-web-design"
                                target="_blank">Certification</a>
                        </div>

                        <ul>
                            <li>HTML5, CSS</li>
                            <li>Applied Visual Design</li>
                            <li>Applied Accessibility</li>
                            <li>Responsive Web Design Principles</li>
                            <li>CSS Flexbox</li>
                            <li>CSS Grid</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="event exp three three hidden" id="three">
                <div class="left">
                    <p>
                        2012 <br />
                        à <br />
                        2016
                    </p>
                </div>
                <div class="right">
                    <div class="content">
                        <h3>
                            <i class="fas fa-users"></i> Licence de Droit, Economie, Gestion – parcours Management et
                            Economie Appliquée (Diplôme Bac +3)
                        </h3>
                        <div class="date">2012 à 2016</div>
                        <div class="place">IAE-Université Jean Moulin 3, Lyon</div>
                        <ul>
                            <li>
                                Maîtrise de l’environnement économique, juridique et comptable
                                de l’entreprise
                            </li>
                            <li>
                                Connaissance des techniques de communication, de la
                                psychosociologie des organisations, de l’environnement
                                international
                            </li>
                            <li>
                                Esprit d’analyse de situations complexes – approche
                                interdisciplinaire
                            </li>
                            <li>Maîtrise de l’anglais économique</li>
                            <li>Acquisition d’une culture économique et financière</li>
                            <li>
                                Capacité à appréhender de nouvelles connaissances économiques
                            </li>
                            <li>Capacité à faire preuve d’esprit de synthèse</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="event school two hidden" id="two">
                <div class="left">
                    <p>
                        2010 <br />
                        à <br />
                        2011
                    </p>
                </div>
                <div class="right">
                    <div class="content">
                        <h3>
                            <i class="fas fa-graduation-cap"></i> Service Militaire (6 mois)
                        </h3>
                        <div class="date">2010 à 2011</div>
                        <div class="place">Thessalonique, Grèce</div>
                    </div>
                </div>
            </div>

            <div class="event school one hidden" id="one">
                <div class="left">
                    <p>
                        2004 <br />
                        à <br />
                        2006
                    </p>
                </div>
                <div class="right">
                    <div class="content">
                        <h3>
                            <i class="fas fa-graduation-cap"></i> Licence en Electronique (2
                            ans)
                        </h3>
                        <div class="date">2004 à 2006</div>
                        <div class="place">
                            Université Technologique de Thessalonique, Grèce
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>