<div class="parallax" id="home">
    <div class="outer-container" id="homepage">
        <header>
            Bonjourss, je m'appelle Ioannis et je suis
            <h1>Développeur web full-stack</h1>
        </header>

        <div class="text-justify" style="width: 100%;">
            <div class="item skill-box animated fadeInUp">
                <a href="#skills" class="link_home">
                    <i class="fas fa-code"></i>
                    Front-end
                </a>
            </div>
            <div class="item skill-box animated fadeInUp">
                <a href="#skills" class="link_home">
                    <i class="fas fa-database"></i>
                    Back-end
                </a>
            </div>
            <div class="item skill-box animated fadeInUp">
                <a href="#skills" class="link_home">
                    <i class="fas fa-pencil-ruler"></i>
                    Web-design
                </a>
            </div>
            <div class="item skill-box animated fadeInUp">
                <i class="fas fa-globe"></i>
                Anglais
            </div>
        </div>
    </div>
</div>