<div class="parallax" id="home">
    <div class="outer-container" id="homepage">
        <header>
            Bonjour, je m'appelle Ioannis et je suis
            <h1>Développeur web full-stack</h1>
        </header>

        <div class="space-between" style="width: 100%;">
            <div class="item skill-box animated fadeInUp">
                <i class="fas fa-code"></i>
                front-end
            </div>
            <div class="item skill-box animated fadeInUp">
                <i class="fas fa-database"></i>
                back-end
            </div>
            <div class="item skill-box animated fadeInUp">
                <i class="fas fa-pencil-ruler"></i>
                web-design
            </div>
            <div class="item skill-box animated fadeInUp">
                <i class="fas fa-globe"></i>
                anglais
            </div>
        </div>
    </div>
</div>