<nav>
    <ul class="d-flex space-evenly nav-width">
        <li>
            <a href="#home"><i class="fas fa-home"></i></a>
        </li>
        <li><a href="#about">À propos</a></li>
        <li><a href="#skills">Compétences</a></li>
        <li><a href="#experience">Parcours</a></li>
        <li><a href="#formation">Formations</a></li>
        <li><a href="#projects">Réalisations</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</nav>

<div id="mobile-nav">
    <div id="menu-buttons">
        <div id="hamburger">
        </div>

        <div id="cross" class="animated fadeIn">
        </div>
    </div>

    <div id="menu" class="animated fadeIn">
        <ul>
            <li><a href="#home">Accueil</a></li>
            <li><a href="#about">À propos</a></li>
            <li><a href="#skills">Compétences</a></li>
            <li><a href="#experience">Parcours</a></li>

            <li><a href="#projects">Réalisations</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
</div>