<section id="experience" class="fadeExperience">
    <div class="outer-container">
        <h2 class="section-title">Parcours professionnel</h2>
        <div id="timeline">

            <!-- CA CHEQUES -->
            <div class="event six work hidden" id="six">
                <div class="left-parcours">
                    <p>
                        JANVIER 2021 à <br />
                        JUILLET 2025
                    </p>
                </div>
                <div class="right">
                    <div class="content">
                        <h3><i class="fas fa-briefcase"></i> DÉVELOPPEUR WEB FULL-STACK</h3>
                        <div class="date">DEPUIS JANVIER 2021</div>
                        <div class="place">Crédit Agricole Chèques, Lyon</div>

                        <ul>
                            <li><span class="strong">Analyse des besoins métiers </span> et conception de maquettes
                                (UI/UX) en étroite collaboration avec la
                                direction de production.
                            </li>
                            <li>Conception et développement d'applications web sur-mesure avec <span
                                    class="strong">Java, Spring Boot, Symfony/PHP, CakePHP, Angular et AngularJS</span>
                                pour
                                l'optimisation des processus de traitement des chèques
                            </li>
                            <li>Création d'un portail de pilotage (KPIs) permettant aux Caisses régionales de suivre les
                                indicateurs de production</li>
                            <li>Mise en place de <span class="strong">tests</span> (unitaires/fonctionnels) </li>
                            <li>Architecture et gestion de bases de données avec MySQL</li>
                            <li>Pilotage du cycle de déploiement : <span class="strong">mise en production, maintenance
                                    corrective et
                                    évolutive des solutions existantes</span></li>
                            <li>Rédaction documentaire : élaboration des documentations techniques (pour les
                                développeurs) et des guides utilisateurs</li>
                            <li>Gestion de projet en mode <span class="strong">Agile</span></li>
                            <li>Versionnage de code avec Git</li>
                            <li>Conteneurisation des environnements de développement via Docker</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- ASSISTANT EQUIPE -->
            <div class="event exp five hidden" id="five">
                <div class="left-parcours">
                    <p>
                        DECEMBRE 2018 <br />
                        à <br />
                        JANVIER 2021
                    </p>
                </div>
                <div class="right">
                    <div class="content">
                        <h3><i class="fas fa-users"></i> Technicien - Assistant d'équipe</h3>
                        <div class="date">DECEMBRE 2018 à JANVIER 2021</div>
                        <div class="place">Crédit Agricole Chèques, Lyon</div>

                        <ul>
                            <li>
                                Responsable de la cellule « Impayés » (9 personnes) sous
                                l’autorité du Technicien Référent
                            </li>
                            <li>Participation à l’organisation du pôle</li>
                            <li>Participation à l’élaboration des procédures</li>
                            <li>Integration et formation des nouveaux collaborateurs</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- OPERATEUR -->
            <div class="event school four hidden" id="four">
                <div class="left-parcours">
                    <p>
                        DECEMBRE 2016 <br />
                        à <br />
                        DECEMBRE 2018
                    </p>
                </div>
                <div class="right">
                    <div class="content">
                        <h3>
                            <i class="fas fa-graduation-cap"></i> Opérateur de traitement de
                            niveau 1 / niveau 2
                        </h3>
                        <div class="date">DECEMBRE 2016 A DECEMBRE 2018</div>
                        <div class="place">Crédit Agricole Chèques, Lyon</div>

                        <ul>
                            <li>Traitement des réclamations clients liées à la fraude</li>
                            <li>Analyse et Traitement des réclamations clients</li>
                            <li>
                                Assurer le suivi des opérations bancaires liées au traitement
                                des chèques et incidents
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- MICRO ENTREPRISE -->
            <div class="event exp three hidden" id="three">
                <div class="left-parcours">
                    <p>
                        2016 <br />
                        à <br />
                        2018
                    </p>
                </div>
                <div class="right">
                    <div class="content">
                        <h3><i class="fas fa-users"></i> Dirigeant Micro-Entreprise</h3>
                        <div class="date">2016 A 2018</div>
                        <div class="place">Univers virtuel</div>
                        <p>
                            Création d'une Micro-entreprise et lancement d'un site marchand
                            pour la vente de casques de réalité virtuelle par internet.
                        </p>
                        <br />
                        <ul>
                            <li>
                                Création et modification du site marchand sur la plateforme
                                Shopify (HTML/CSS)
                            </li>
                            <li>Mise en place et gestion du SEO</li>
                            <li>
                                Mise en place de campagnes publicitaires sur Google Adwords et
                                Facebook
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>