<section id="projects" class="grey">
    <div class="outer-container outer-container-projects">
        <h2 class="section-title">Réalisations en ligne</h2>
        <section class="space-between project_list  ">

            <!--BudgetTracker -->
            <div class="item project" id="budgetTracker">
                <div class="image-box"></div>
                <div class="overlay">
                    <div class="budgetTracker-overlay">
                        <div class="project_title">
                            <h4 class="text_h4">BudgetTracker</h4>
                            <h5>Création d'un outil pour géstion de finances personnelles</h5>
                        </div>

                        <ul class="tags">
                            <li>Java 21</li>
                            <li>Spring Boot</li>
                            <li>Spring Security/JWT</li>
                            <li>JPA and Spring Boot Test</li>
                            <li>Postgreslq</li>
                            <li>Lombok</li>
                            <li>Redis</li>
                            <li>Docker</li>
                            <li>Angular</li>
                            <li>Tests Angular Vitest</li>
                        </ul>

                        <ul class="desc">
                            <li>
                                Création d'un dashboard qui permet de suivre ses dépenses et ses
                                revenus
                            </li>
                            <li>Création de compte utilisateur et login</li>
                            <li>Ajout/modification/suppresion de categories de revenus ou dépenses</li>
                            <li>Ajout/modification/suppresion de transactions de revenus ou dépenses</li>
                            <li>Affichage graphique des dépenses</li>
                        </ul>

                        <a href="https:/imastoridis.com/budgetTracker" target="_blank">
                            <button>Voir le site <i class="far fa-angle-right"></i>
                            </button>
                        </a>
                    </div>
                </div>
            </div>

            <!--Self driving car -->
            <div class="item project" id="self_driving_car">
                <div class="image-box"></div>
                <div class="overlay">
                    <div class="budgetTracker-overlay">
                        <div class="project_title">
                            <h4 class="text_h4">Self driving car</h4>
                            <h5>Conduite autonome par imitation grâce à un réseau neuronal</h5>
                        </div>

                        <ul class="tags">
                            <li>Html/JavaScript</li>
                            <li>Simulation de trafic</li>
                            <li>Réseau neuronal</li>
                        </ul>

                        <ul class="desc">
                            <li>
                                Création d'un réseau neuronal pour la conduite autonome d'une voiture dans un
                                environnement simulé
                            </li>
                        </ul>

                        <a href="https:/imastoridis.com/self_driving_car/" target="_blank">
                            <button>Voir le site <i class="far fa-angle-right"></i>
                            </button>
                        </a>
                    </div>
                </div>
            </div>

            <!--Indicateurs -->
            <div class="item project" id="site_indicateurs">
                <div class="image-box"></div>
                <div class="overlay">
                    <div class="budgetTracker-overlay">
                        <div class="project_title">
                            <h4 class="text_h4">Site indicateurs clients CA</h4>
                            <h5>Création d'un outil pour géstion et affichage d'indicateurs pour les
                                caisses régionales du CA
                            </h5>
                        </div>

                        <ul class="tags">
                            <li>Symfony</li>
                            <li>JWT</li>
                            <li>AngularJs</li>
                            <li>MySQL</li>
                        </ul>

                        <ul class="desc">
                            <li>
                                Création d'un site interne pour créer et afficher des indicateurs de production et
                                tableaux de
                                bord pour les caisses régionales du CA
                            </li>
                            <li>Création d'une API avec Symfony pour la gestion des indicateurs</li>
                            <li>Sécurisation du site avec JWT</li>
                            <li>Création du front-end avec AngularJs pour la gestion et affichage des indicateurs</li>
                            <li>Possibilité de créer des indicateurs manuellement à partir de divers données</li>
                            <li>Possibilité de créer des tableaux de bord manuellement à partir des indicateurs crées
                            </li>
                            <li>Affichage des tableaux, indicateurs et graphiques en fonction du client</li>
                        </ul>

                    </div>
                </div>
            </div>

            <!--EmailManager -->
            <div class="item project" id="email_manager">
                <div class="image-box"></div>
                <div class="overlay">
                    <div class="budgetTracker-overlay">
                        <div class="project_title">
                            <h4 class="text_h4">Email Manager</h4>
                            <h5>Création d'un outil interne pour géstion et envoi d'emails aux agences
                                du CA
                            </h5>
                        </div>

                        <ul class="tags">
                            <li>PHP</li>
                            <li>JWT</li>
                            <li>AngularJs</li>
                            <li>MySQL</li>
                        </ul>

                        <ul class="desc">
                            <li>
                                Création d'un site interne pour création de modèles d'emails, ajout de destinataires et
                                envoi aux agences du Crédit Agricole
                            </li>
                            <li>Création d'une API avec PHP pour la gestion des emails et destinataires</li>
                            <li>Création de modéles d'emails</li>
                            <li>Création de destinataires et liaison avec ces modèles d'emails</li>
                            <li>Ajout de pdf aux emails</li>
                            <li>Mise à jour des listes d'emails des agences à partir d'un fichier excel</li>
                            <li>Utilisation de ces EmailManager dans divers autres outils pour envoi d'email spécifique
                                a la Caisse Régionale et agence</li>
                            <li>Sécurisation du site avec JWT</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--covid -->
            <div class="item project" id="covid">
                <div class="image-box"></div>
                <div class="overlay">
                    <div class="text">
                        <div class="project_title">
                            <h4 class="text_h4">Covid-19 Dashboard</h4>
                            <h5>Création d'un tableau de bord avec l'API NovelCOVID</h5>
                        </div>


                        <ul class="tags">
                            <li>Dashboard</li>
                            <li>React</li>
                            <li>JavaScript</li>
                            <li>Gatsby</li>
                            <li>Leaflet</li>
                            <li>Carte interactive</li>
                            <li>NovelCOVID API</li>
                        </ul>

                        <ul class="desc">
                            <li>
                                Création d'un dashboard qui regroupe des données relatives a la
                                COVID-19
                            </li>
                            <li>Récupération des données avec l'API NovelCOVID</li>
                            <li>Carte interactive</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--groupomania -->
            <div class="item project" id="groupomania">
                <div class="image-box"></div>
                <div class="overlay">
                    <div class="text">
                        <div class="project_title">
                            <h4 class="text_h4">Groupomania</h4>
                            <h5>
                                Création d'un reseau social d'entreprise - Frontend et backend
                            </h5>
                        </div>


                        <ul class="tags">
                            <li>Projet 7 - Openclassrooms</li>
                            <li>React</li>
                            <li>NodeJS</li>
                            <li>Express</li>
                            <li>MySQL</li>
                            <li>JavaScript</li>
                        </ul>

                        <ul class="desc">
                            <li>
                                Création d'une API ou les utilisateurs peuvent partager des
                                messages, commentaires ainsi que des contenus multimedias.
                            </li>
                            <li>
                                Création et gestion de la base de données MySQL (Les données
                                sont enregistrées dans une base de données MySQL)
                            </li>
                            <li>
                                Création de requêtes avec Express afin de récupérer du contenu
                                dynamique sur le site.
                            </li>
                            <li>
                                Authentification sécurisée d'un utilisateur et maintient de sa
                                session
                            </li>
                            <!--                             <li>
                                Vous pouvez vous identifier avec : email : test@test.com et
                                password : test02
                            </li>
                            <li>
                                Pour vous connecter en tant que admin : email : admin@admin.com
                                et password : admin2
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>

            <!--sopekocko -->
            <div class="item project" id="sopekocko">
                <div class="image-box"></div>
                <div class="overlay">
                    <div class="text">
                        <div class="project_title">
                            <h4 class="text_h4">So Pekocko</h4>
                            <h5>Création d'une API REST sécurisée - Backend</h5>
                        </div>

                        <ul class="tags">
                            <li>Projet 6 - Openclassrooms</li>
                            <li>JavaScript</li>
                            <li>NodeJS</li>
                            <li>MongoDB</li>
                            <li>Mongoose</li>
                            <li>Express</li>
                        </ul>

                        <ul class="desc">
                            <li>
                                Création d'une API ou les les utilisateurs peuvent ajouter leurs
                                sauces préférées et liker ou disliker les sauces proposées par
                                les autres
                            </li>
                            <li>Mise en oeuvre des opérations CRUD de manière sécurisée</li>
                            <li>Stockage des données de manière sécurisée</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--portofolio -->
            <!--     <div class="item project" id="portofolio">
                <div class="image-box"></div>
                <div class="overlay">
                    <div class="text">
                        <h4>Portofolio V1</h4>

                        <ul class="tags">
                            <li>React</li>
                            <li>JavaScript</li>
                            <li>HTML/CSS</li>
                        </ul>

                        <ul class="desc">
                            Version 1 de mon portofolio, créé avec React
                        </ul>

                        <a href="https://imastoridis.com/" target="_blank"><button>Voir le site <i
                                    class="far fa-angle-right"></i></button></a>
                    </div>
                </div>
            </div> -->

            <!--soleil-->
            <div class="item project" id="soleil">
                <div class="image-box"></div>
                <div class="overlay">
                    <div class="text">
                        <div class="project_title">
                            <h4>123Soleil</h4>
                            <h5>Création d'une application météo avec l'API OpenWeatherMap</h5>
                        </div>


                        <ul class="tags">
                            <li>React</li>
                            <li>OpenWeatherMap API</li>
                        </ul>

                        <ul class="desc">
                            <li>
                                Création d'une API pour des prévisions météo actuelles et sur 4
                                jours
                            </li>
                            <li>
                                Les données sont récupérées de l'API de openweathermap.org.
                            </li>
                            <li>Recherche d'une ville et récupération des données</li>
                            <li>Images background dynamique en fonction de la prévision</li>
                        </ul>

                        <!--              <a href="https://weather-app.imastoridis.com/" target="_blank">
                            <button>Voir le site <i class="far fa-angle-right"></i>
                            </button>
                        </a> -->
                    </div>
                </div>
            </div>
        </section>

        <!--WordPress -->
        <h2 class="section-title">Wordpress</h2>
        <section id="projects" class="grey space-between project_list">
            <!--Natura Greca -->
            <div class="item project" id="natura">
                <div class="image-box"></div>
                <div class="overlay">
                    <div class="text">
                        <h4>Natura Greca</h4>

                        <ul class="tags">
                            <li>Wordpress</li>
                            <li>Elementor</li>
                        </ul>

                        <ul class="desc">
                            <li>Contact avec le client et analyse de ses besoins</li>
                            <li>
                                Édition du thème choisi par le client afin de correspondre à
                                sa demande
                            </li>
                            <li>Mise en place du projet et développement en autonomie</li>
                            <li>Utilisation de plugins dont Elementor</li>
                            <li>Mise en production sur un serveur Cloudways</li>
                            <li>Gestion du SEO</li>
                        </ul>

                        <a href="https://www.naturagreca.ch/" target="_blank"><button>
                                Voir le site <i class="far fa-angle-right"></i></button></a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>